---
import { getCollection } from 'astro:content';

// Zwraca wszystkie posty i przekierowuje z /{slug} na /blog/{slug}
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { id } = post;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta http-equiv="refresh" content={`0;url=/blog/${id}`} />
    <script define:vars={{ postId: id }}>
      window.location.href = `/blog/${postId}`;
    </script>
    <title>Przekierowanie...</title>
  </head>
  <body>
    <p>Przekierowujemy Cię na <a href={`/blog/${id}`}>artykuł</a>...</p>
  </body>
</html>